[Unit]
Description=Rover service to send the gps carriage data
After=multi-user.target

[Service]
ExecStart=/home/pi/pygpsclient/bin/gnssserver -I /dev/ttyUSB3 --baudrate 460800 --outport 50011 --verbosity 1
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

