[Unit]
Description=Rover service to send the gps nav data
After=multi-user.target

[Service]
ExecStart=/home/pi/pygpsclient/bin/gnssserver -I /dev/ttyUSB0 --baudrate 460800 --outport 50010 --verbosity 1
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

